{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .carousel-img{
        
        height: 50vh;
    }
    .room-name-div{
        padding: 5%;
        height: 10%;
        width: 100vw;
        /* border: 1px solid black; */
    }
    .price-div{
        height: auto;
    }
    .dates-class{
        width: 80%;
    }
    .toolbar-div{
        
        border: 1px solid black;
        padding: 0px 5%;
        background-color: gray;
        color: white;
    }

        /* Create two equal columns that sits next to each other */
        .column-class {
        flex: 50%;
        padding: 0 4px;
        }

        .column img {
        margin-top: 8px;
        vertical-align: middle;
        }
        .map-class{
            height: 80%;
            width: 80%;
        }
        .map-class img{
            height: 100%;
            width: 100%;
        }
        .rating {
    font-size: 24px; /* Adjust font size as needed */
}

.heart {
    color: #FF5733; /* Change color for filled hearts */
    display: inline-block;
    width: 20px; /* Adjust width and height for heart size */
    height: 20px;
}

/* Optional: Change color for empty hearts */
.heart.empty {
    color: #CCCCCC;
}
</style>
{% endblock stylesheets %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner image-container">
        {% for imgs in allImages %}
        <div class="carousel-item active">
            <img class="d-block w-100 carousel-img" src="{{imgs.image_field.url}}" alt="First slide">
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="toolbar-div ">
    <div class="toolbar-content row">
        <div class="col-sm-1">
            <a href="#about" style="color: white;">ABOUT</a>
        </div>
        <div class="col-sm-1">
            
            <a href="#facilities" style="color: white;">FACILITIES </a>
        </div>
        <div class="col-sm-1">
            <a href="#rooms" style="color: white;">ROOMS </a>
        </div>
        <div class="col-sm-1">
            
            <a href="#location" style="color: white;">LOCATION</a>
        </div>
        <div class="col-sm-1">
            
            <a href="#reviews" style="color: white;">REVIEWS</a>
        </div>
        <div class="col-sm-1">
            MEALS
        </div>
        <div class="col-sm-1">
            <a href="#rules" style="color: white;">RULES</a>
        </div>
    </div>
    
  </div>


  <div class="room-main-div">
    <div class="room-name-div row">
        <div class="col-sm-8">
            <div class="col-8">
                <h1>{{selectedRoom.site_name}}</h1>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header" id="about">
                        About
                    </div>
                    <div class="card-body" >
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi optio quidem nisi officia. Adipisci hic eius eos cum necessitatibus laudantium vel soluta at, veniam suscipit aut iure incidunt delectus est?
                        </p>
                    </div>
                    
                    <div class="card-header" id="facilities">
                        Facilities
                    </div>
                    <div class="card-body">
                        <span>WiFi</span>
                        <span>AC</span>
                        <span>Gyser</span>
                    </div>
                    <div class="card-header" id="rooms">
                        Rooms
                    </div>
                    {% comment %}
                    <div class="card-body">
                        <div class="row">
                            <div class="column-class">
                              <img src="wedding.jpg">
                              <img src="rocks.jpg">
                              <img src="falls2.jpg">
                              <img src="paris.jpg">
                              <img src="nature.jpg">
                              <img src="mist.jpg">
                              <img src="paris.jpg">
                            </div>
                            <div class="column-class">
                              <img src="underwater.jpg">
                              <img src="ocean.jpg">
                              <img src="wedding.jpg">
                              <img src="mountainskies.jpg">
                              <img src="rocks.jpg">
                              <img src="underwater.jpg">
                            </div>
                            <div class="column-class">
                              <img src="wedding.jpg">
                              <img src="rocks.jpg">
                              <img src="falls2.jpg">
                              <img src="paris.jpg">
                              <img src="nature.jpg">
                              <img src="mist.jpg">
                              <img src="paris.jpg">
                            </div>
                            <div class="column-class">
                              <img src="underwater.jpg">
                              <img src="ocean.jpg">
                              <img src="wedding.jpg">
                              <img src="mountainskies.jpg">
                              <img src="rocks.jpg">
                              <img src="underwater.jpg">
                            </div>
                          </div>
                    </div>
                    {% endcomment %}
                    <div class="container card-body">
                        <div class="row">
                          <div class="col-md-4">
                            <div style="background-color: #f8d7da; height: 100px;">Column 1</div>
                          </div>
                          <div class="col-md-4">
                            <div style="background-color: #cce5ff; height: 100px;">Column 2</div>
                          </div>
                          <div class="col-md-4">
                            <div style="background-color: #d4edda; height: 100px;">Column 3</div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div style="background-color: #f8d7da; height: 100px;">Column 4</div>
                          </div>
                          <div class="col-md-6">
                            <div style="background-color: #cce5ff; height: 100px;">Column 5</div>
                          </div>
                        </div>
                      </div>
                      <div class="card-header" id="location">
                        LOCATION
                      </div>
                      <div class="card-body">
                        <div class="map-class">
                            <img src="{% static 'images/map_screenshot.png' %}" alt="">
                        </div>
                      </div>
                      <div class="card-header" id="reviews">
                        REVIEWS
                      </div>
                      <div class="card-body">
                        {% for i in ''|rjust:4 %}
                            <span class="heart">&#9829;</span>
                            {% endfor %}
                            <span class="heart">&#9825;</span>
                            <div class="rating-comments">
                                {% for comments in all_comments %}
                          
                                <div>
                                    <p>{{comments.comment}}</p>
                                    <p> &nbsp;&nbsp; {{comments.customer_name}}</p>
                                </div>
                                {% endfor %}
                              </div>
                        
                      </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card price-div">
            <h2>{{selectedRoom.base_price}} {{selectedRoom.price_currency}}</h2>
            <div class="card-body">
                <div class="price-content">
                    <h4>Selected Dates</h4>
                    <div class="dates-class row col-sm-12">
                        <div class="col-sm-4">
                            From Date: <input type="date">
                            To Date: <input type="date">

                        </div>
                    </div>
                    <div class="room-type">
                        {{selectedRoom.category}}
                    </div>
                    <div class="button-class">
                        <button class="btn btn-success">Continue to Booking</button>
                    </div>
                    <div class="rules-class card-header" id="rules">
                        Rules
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Rule 1</li>
                            <li>Rule 2</li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>

       
    </div>
  </div>

{% endblock content %}
<!-- Specific JS goes HERE --> 
{% block javascripts %}


{% endblock javascripts %}